[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyttsx3 = "==2.7"
wikipedia = "==1.4.0"
wolframalpha = "==3.0.1"
PyAudio = "==0.2.11"
SpeechRecognition = "==3.8.1"

[requires]
python_version = "3.7"
